$basic-white: #ffffff;
$basic-color: #62D0DF;
$basic-dark-color: #22356F;
$light-color: #FAB63E;
$light-background-color: #F4F9E2;
$main-content-color: #F9B640;
$marker-color: #E9B730;
$features-color1: #FFE2DE;
$features-color2: #C4E769;
$features-color4: #0052C1;
$services-color3: #76B58B;
$services-color5: #DEE1FF;
$services-color6: #8F00FF;
$logo-text-color: #6CD3E1;
$email-color: #006DFF;
