$basic-white: #ffffff;
$basic-color: #62D0DF;
$basic-dark-color: #22356F;
$light-color: #FAB63E;
$main-content-color: #F9B640;
$features-marker-color: #E9B730;
$features-color1: #FFE2DE;
$features-color2: #C4E769;
$features-color4: #0052C1;
$services-color5: #DEE1FF;
$services-color6: #8F00FF;
